.contact {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 100px;
      line-height: 88px;
    }

    span {
      font-weight: 500;
      font-size: 20px;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      position: absolute;
      margin: auto;
      z-index: -1;
      svg {
        position: absolute;
        width: 500px;
        height: 500px;
        fill: none;
        stroke: orange;
        stroke-width: 0.5%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        font-size: large;
        font-weight: 900;
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 900;
        font-size: larger;
      }
      p {
        color: whitesmoke;
        align-self: center;
        font-size: larger;
        font-weight: 600;
      }
    }
  }
}
