.navbar {
  height: 100px;

  .wrapper {
    max-width: 1000px; //alteracion del ancho, originamente era 1366
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
        border-radius: 15px;
      }
    }
  }
}
